<div class="author">
    <h1 class="author__heading">Hi, I'm Raddy.</h1>
    <p class="author__body">Web developer and content creator</p>
</div>

<img src="images/hero-image.webp" alt="" class="hero-image" width="981" height="528">

<section class="articles">
    <h2 class="article__heading">Latest Posts</h2>

    <ul class="article-ul">
        <% data.forEach(blog=> { %>
            <li class="">
                <a href="/<%= blog._id %>">
                    <span>
                        <%= blog.title %>
                    </span>
                    <span class="article-list__date">
                        <%= blog.createdAt.toDateString() %>
                    </span>
                </a>
            </li>
            <% }) %>
    </ul>
    <div class="page-control">
        <% if (nextPage !==null) { %>
            <a href="/?page=<%= nextPage %>" class="pagination">&lt; View Older Posts</a>
            <% } %>
                <% if (prevPage !==null) { %>
                    <a href="/?page=<%= prevPage %>" class="pagination">View Newer Posts &gt;</a>
                    <% } %>
    </div>

</section>